/* root styels */
:root {
  font-size: 16px;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 30px;
}

.section__title {
  font-weight: 500;
  font-size: 2.5rem;
  margin: 0 auto 50px;
  padding-bottom: 10px;
  width: fit-content;
  text-align: center;
  position: relative;
}

.section__title::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  height: 2px;
}

/* header start */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: right;
  padding: 30px 40px;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  color: #fff;
  margin: 0;
  font-weight: 500;
  font-size: 1.5rem;
  text-decoration: none;
  transition: .5s color ease-in-out;
  z-index: 1;
}

.navigation__btn {
  border: 0;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  display: none;
}

.navigation__btn svg {
  fill: #fff;
  width: 35px;
  height: 35px;
}

.navigation__btn.black svg {
  fill: #000;
}

.navigation__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: end;
  gap: 30px;
  position: relative;
  transition: transform .5s ease-in-out;
}

.navigation__close {
  border: 0;
  background-color: transparent;
  padding: 5px;
  cursor: pointer;
  display: none;
  position: absolute;
  right: 30px;
  top: 30px;
}

.navigation__close img {
  width: 30px;
  height: 30px;
  display: block;
}

.navigation__item {
  transition: transform .2s ease-in-out;
}

.navigation__item:hover {
  transform: scale(1.1);
}

.navigation__link {
  color: #fff;
  text-decoration: none;
  font-weight: 300;
  font-size: 1.3rem;
  transition: .5s color ease-in-out;
}

.header.active .navigation__link,
.header.active .header__title {
  color: #000;
}
/* header end */

/* intro section start */
.intro {
  background: url(../images/intro-bg.jpg) no-repeat center top;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  position: relative;
}

.intro__title {
  margin: 0 0 10px;
  font-size: 3rem;
  font-weight: 500;
}

.intro__subtitle {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 400;
}

.intro__arrow-down {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 100px;
}

.intro__arrow-down img {
  display: block;
  width: 30px;
  height: 30px;
  transition: transform .2s ease-in-out;
}

.intro__arrow-down img:hover {
  transform: scale(1.2);
}
/* intro section end */

/* about section start */
.about {
  padding: 100px 0;
  text-align: center;
}

.about__text {
  margin: 0 auto 100px;
  max-width: 1000px;
  color: #868585;
}

.about__skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.about__skill-img  {
  width: 75px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.about__skill-img img {
  width: 100%;
  height: auto;
}

.about__skill-title {
  margin: 0;
}
/* about section end */

/* projects section start */
.projects {
  background-color: #f3f5fa;
  padding: 100px 0;
}

.projects__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.projects__item {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-bottom: 100px;
}

.projects__item:last-child {
  margin: 0;
}

.projects__item:nth-child(even) {
  flex-direction: row-reverse;
}

.projects__item-content {
  padding: 20px 0;
}

.projects__item-title {
  margin: 0 0 10px;
  font-size: 1.3rem;
}

.projects__item-description {
  max-width: 300px;
  margin: 0 0 40px;
}

.projects__item-links {
  display: flex;
  justify-content: end;
  gap: 10px;
}

.projects__item-link {
  color: #0066CC;
  text-decoration: none;
}

.projects__item-link:hover {
  text-decoration: underline;
}

.projects__item-img {
  width: 45%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.projects__item-img img {
  width: 100%;
  height: auto;
  display: block;
}
/* projects section end */

/* footer start */
.footer {
  background-color: #5d7d96;
  padding: 50px 0;
  text-align: center;
}

.footer__title {
  color: #fff;
}

.footer__title::after {
  background-color: #fff;
}

.footer__text {
  margin: 0 auto 50px;
  color: #fff;
  font-size: 1rem;
  max-width: 750px;
}

.footer__phone,
.footer__mail {
  text-decoration: none;
  color: #fff;
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.footer__phone img,
.footer__mail img {
  width: 30px;
  height: auto;
}

.footer__phone {
  margin-bottom: 10px;
}

.footer__mail {
  margin-bottom: 30px;
}

.footer__social-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.footer__social-img {
  width: 40px;
  height: 40px;
}
/* footer end */

/* responsiveness */

@media (max-width: 768px) {
  .header__title.black {
    color: #000;
  }
  .navigation__list {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateY(-100%);
    background-color: #f3f5fa;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .navigation__link {
    color: #000;
    font-size: 3rem;
  }
  .navigation__list.active {
    transform: translate(0);
  }
  .navigation__close {
    display: block;
  }
  .navigation__btn {
    display: block;
  }

  .projects__item {
    flex-wrap: wrap;
    gap: 0;
  }
  .projects__item-content {
    width: 100%;
  }
  .projects__item-img {
    width: 100%;
  }

}

@media (max-width: 480px) {
  :root {
    font-size: 12px;
  }
  .about__text {
    font-size: 1.5rem;
  }
  .about__skills {
    gap: 25px;
  }
  .about__skill-img {
    width: 60px;
    height: 60px;
    margin-bottom: 5px;
  }
  .projects__item-description {
    font-size: 1.2rem;
  }
  .projects__item-link {
    font-size: 1.2rem;
  }
  .about, .projects {
    padding: 50px 0;
  }
  .footer__text {
    margin-bottom: 30px;
  }
}